body{
    overflow-x: hidden;
}
body{
    background-size: 100%;
    background-attachment: fixed;
    line-height: 1.8;
    margin:0;
}
#disdur{
    display:flex;
    justify-content: space-around;
    background-color: rgba(247, 242, 236,0.5);
    width: 80%;
    margin-left: 10%;
    margin-top:2%;
    margin-bottom: 2%;
    border-radius:15px;
    padding-bottom: 30px;
    padding-top:30px;
}
select{
    height:30px;
    width: 150px;
    border-radius: 10px;
    font-size: 16px;
}
label{
    font-size: 25px;
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.indication{
    font-size: 20px;
    color: white;
    background-color: black;
    margin-left: 20%;
}
.calculer{
    height: 25px;
    border-width: 0;
    background-color: rgba(27, 68, 184, 1);
    font-size: 16px;
    color: white;
    border-radius: 10px;
    margin-left: 80%;
    margin-bottom: 3%;
    transition: font-weight 0.6s , background-color 0.6s;
}
.calculer:hover{
    background-color: rgb(2, 2, 43);
    font-weight: bold;
    color: white;
    cursor: pointer;
}
#resultat{
    background-color: rgba(29, 29, 233,0.98);
    padding:50px;
    font-size:18px;
    font-weight: 100;
    border-radius: 10px;
    width: 200px;
}
#distance,#duration{
    color: yellow;
    font-weight: bold;
}

